.flex-container {
    padding: 2px 2px;
    display: -webkit-flex;
    display: flex;
    margin: auto ;
    width: 80%;
    height: auto;
    background-color: lightgrey;
    flex: 2 100%;
    flex-wrap: wrap;
}

.flex-item {
    text-align: center;
    padding: 10px;
            -webkit-flex: 1;
    flex: 1 ;
    background-color: cornflowerblue;
    margin: 5px;
}



.flex-item img
{
    width: 90%;
    margin: 5%;
}
.flex-item:hover{
    -webkit-flex: 1;
    flex: 1;
    transition: 0.25s;
    transition-timing-function: ease-out;
}

.flex-item:nth-child(odd):hover{
        background-color: burlywood;
}

.flex-item:nth-child(even):hover{
        background-color: darkolivegreen;
}

#content
{
    flex: 2 !important;
    width: 100%;
    background-color: bisque;
    height: auto;
}

header h1
{
    text-align: center;
}

.flex-container::after {
  content: '';
  width: 100%;
}
.flex-container > item-type::after {
  content: '';
  width: 100%;
}

.flex-item:last-child { /* or `:nth-child(n + 4)` */
  order: 1;
}

.flexfull
{
    width: 100%;
    break-after: always;
    page-break-after: always;
}

.breakLine
{
    break-after: always;
    page-break-after: always;
}

.loop-container
{
     padding: 2px 2px;
    display: -webkit-flex;
    display: flex;
    margin: auto ;
    width: 80%;
    height: auto;
    background-color: lightgrey;
    flex: 2 100%;
    flex-wrap: wrap;
}

.flex-item > h4
{
	font-size:12pt;
}
