body
{
    font-family: 'Roboto', sans-serif;
}
.shadow
{
    text-align: center;
    text-shadow: 5px 5px 60px blue;
    font-size: 50pt
}

.border
{
    width: 80%;
    margin: auto;
    height: 500px;
    background-color: hsl(240,70%, 60%);
    display: block;
    
    border-radius: 0px 87px 20px 10px;
    -moz-border-radius: 0px 87px 20px 10px;
    -webkit-border-radius: 0px 87px 20px 20px;
    border: 6px solid rgba(10, 4, 5, 0.7);
}

.linear
{
    background: red; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left, blue , white); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(left, blue , white); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(left, blue , white); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, blue , white); /* Standard syntax */

}

.radial
{
    
      background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(red 90%, yellow, green); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(red, yellow, green); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(red, yellow, green); /* For Firefox 3.6 to 15 */
  background: radial-gradient(red 1%, yellow 25%, green); /* Standard syntax */
    
}

.box
{
    margin-top: 40px;
    width: 100%;
    height: 500px;
    font-size: 50pt;
    text-align: center;
    display: block;
    line-height: 500px;
}

.box span
{
    vertical-align: middle;
    display: inline-block;
}
.image1
{
    background-image: url(bg-repeat.jpg);
}

.image2
{
    background-image: url(img-bg.png);
    background-position: right;
}

.image3
{
    width: auto;
    border: 20px solid rgba(10, 4, 5, 0.7);
    background-origin: border-box;
    background-image: url(img-bg.png);
}

.image4
{
    background-image: url(img-bg.png);
    background-repeat: repeat-y;
}

.border1
{
    width: auto;
    border: 30px solid transparent;
    padding: 15px;
    border-image-source: url(border.png);    
    border-image-slice: 30;
}

.border2
{
    width: auto;
    border: 30px solid;
    border-image-source: url(border.png);
    border-image-repeat: round;
    border-image-slice: 30;
    font-size: 60px;
}

@keyframes moving{
    0%{
        background-color: chartreuse;
        left: 0px;
    }
    50%{
        border-radius: 50px 50px 50px 50px;
    }
    100%{
        background-color: forestgreen;
        left: 80%;
        width: 20%;
        transform:rotate(180deg);
    }
}
.animation-item
{
    margin-top:100px;
    text-align: center;
    line-height: 100px;
    position: relative;
    display: block;
    width: 30%;
    height: 100px;
    animation-name: moving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

.transform
{
    display: block;
    margin: 150px auto;
    height: 300px;
    width: 30%;
    background-color: darkcyan;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.transform span
{
    width: 100%;
    text-align: center;
    line-height: 300px;
    display: inline-block;
}

@keyframes transform-rotate
{
    0%{
        
    }
    100%{
        transform:rotate(360deg);
    }
}
.transform:hover
{
    animation-name: transform-rotate;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    
}

.transform2
{
    display: block;
    margin: 150px auto;
    height: 300px;
    width: 30%;
    background-color: darkcyan;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.transform2 span
{
    width: 100%;
    text-align: center;
    line-height: 300px;
    display: inline-block;
}

.transform2:hover
{
    transform:skew(10deg,10deg);
    transition: 0.3s;
    transition-timing-function: ease-out;
    
}

.flex-container {
    padding: 2px 2px;
    display: -webkit-flex;
    display: flex;
    margin: auto ;
    width: 80%;
    height: auto;
    background-color: lightgrey;
    flex: 4 100%;
}

.flex-item {
    padding: 10px;
            -webkit-flex: 1;
    flex: 1 ;
    background-color: cornflowerblue;
    margin: 5px;
}

.flex-item img
{
    width: 90%;
    margin: 5%;
}
.flex-item:hover{
        -webkit-flex: 2;
    flex: 2;
    transition: 0.25s;
    transition-timing-function: ease-out;
}

.flex-item:nth-child(odd):hover{
        background-color: burlywood;
}

.flex-item:nth-child(even):hover{
        background-color: darkolivegreen;
}

@media all and (max-width: 1000px) {
    body{
        background-color: coral;
    }
    .flex-item {
    flex:2 50%;
}
}
